.container {
  display: flex;
  background-color: #d7e1e7;
  border-radius: 1rem;
  padding: 4rem;
  width: 60rem;
  height: 30rem;
  gap: 4rem;
  margin: 2rem auto;
}

.container img {
  border: 8px solid black;
  box-shadow: 0 24px 32px -16px rgba(0, 0, 0, 0.4);
}

.container h2 {
  font-size: 1.75rem;
}

.container p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
  margin-top: 2rem;
}
