* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.titulo {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin: 10px;
}

.header {
  background-color: white;
  border: 2px solid black;
}

.main {
  padding: 10px;
  background-color: darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 10px;
  flex-wrap: wrap;
  flex: 1 0 400px;
}

.item {
  height: 230px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid black;
  font-size: 30px;
}

.footer {
  background-color: white;
  border: 2px solid black;
  text-align: center;
  text-transform: uppercase;
}
