* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.border {
  border: 2px solid black;
  background-color: white;
  width: 100%;
  height: 60px;
}

.container {
  flex: 1 0 auto;
  padding: 10px;
  background-color: darkgray;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-template-areas:
    "item1 item2 item3"
    "item4 item4 item4"
    "item5 item5 item6";
}

.item {
  border: 2px solid black;
  background-color: white;
}

.item1 {
  grid-area: item1;
  min-width: 250px;
}

.item2 {
  grid-area: item2;
  min-width: 250px;
}

.item3 {
  grid-area: item3;
  min-width: 250px;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
  min-width: 350px;
}

.item6 {
  grid-area: item6;
  min-width: 250px;
}

@media (max-width: 780px) {
  .container {
    grid-template-areas:
      "item1 item1 item1"
      "item2 item2 item2"
      "item3 item3 item3"
      "item4 item4 item4"
      "item5 item5 item6";
  }
}

@media (max-width: 630px) {
  .container {
    grid-template-areas:
      "item1 item1 item1"
      "item2 item2 item2"
      "item3 item3 item3"
      "item4 item4 item4"
      "item5 item5 item5"
      "item6 item6 item6";
  }
}

@media (max-width: 360px) {
  .item5 {
    min-width: auto;
  }
}
