* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: darkgray;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 15px;
  grid-auto-rows: minmax(80px, auto);
}

.item {
  border: 2px solid black;
  background-color: white;
  font-size: 30px;
  padding: 10px;
}

.item1 {
  grid-column: 1/5;
}

.item2 {
  grid-column: 1/3;
  grid-row: 2/4;
}

.item3 {
  grid-column: 3/5;
}

.item4 {
  grid-column: 3/5;
}

.item5 {
  grid-column: 1/5;
  grid-row: 4/6;
}

.item6 {
  grid-column: 1/3;
}

.item7 {
  grid-column: 3/5;
  grid-row: 6/8;
}

.item8 {
  grid-column: 1/3;
}

.item9 {
  grid-column: 1/5;
  grid-row: 8/10;
}
