* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: darkgray;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 15px;
  grid-auto-rows: minmax(200px, auto);
}

.item {
  border: 2px solid black;
  background-color: white;
  font-size: 30px;
  padding: 10px;
}

.item1 {
  grid-column: 1/4;
}

.item2 {
  grid-column: 1/3;
  grid-row: 2/4;
}

.item5 {
  grid-column: 1/4;
}

.item7 {
  grid-column: 2/4;
  grid-row: 5/7;
}

.item9 {
  grid-column: 1/4;
}
