body {
  background-color: #2c3e50;
}

h1 {
  color: white;
}

h3 {
  color: yellow;
}

li {
  color: white;
}

h2 {
  background-color: yellow;
  border: 2px solid black;
}

.astronomy-class {
  color: red;
}
