.classe1 {
  ul {
    background-color: red;
  }
  li {
    background-color: blue;
    padding: 10px 0;
  }
  button {
    background-color: green;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: red;
      transition: 0.5s;
    }
  }
}
